<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.stock.data.mapper.StockBaseMapper">

    <insert id="replaceInto">
        replace into stock_base(ts_code, stock_name, stock_code, area, industry, full_name, en_name, cn_spell, market,
        status, is_hs)
        values
        <foreach collection="stockBaseList" index="index" item="stockBase" separator="," open="(" close=")">
            #{stockBase.tsCode),#{stockBase.stockName},#{stockBase.stockCode},#{stockBase.area},#{stockBase.industry},#{stockBase.fullName},
            #{stockBase.enName},#{stockBase.cnSpell},#{stockBase.market},#{stockBase.status},#{stockBase.isHs}
        </foreach>
    </insert>
</mapper>
